/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: 'Sora', sans-serif;
}

img {
    width: 100px;
}

#hero-section {
    color: white;
    background-image: url("images/ldn.jpeg");
    background-size: cover;
    padding: 120px 200px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#hero-title {
    background: #211D18;
    padding: 3px 12px 5px 12px;
    border-radius: 10px;
    margin: 120px auto 5px;
}

#hero-description {
    background:  #45443F;
    padding: 5px 28px 8px;
    border-radius: 10px;
    margin: 20px auto 120px;
}

#activities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F1E4D8;
}

.activities-images {
    border-radius: 50%;
}

.activities-section {
    padding: 59px 83px;
}

.activities-section:hover {
    background: #E9D6C3;
}

#guide {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    background: #F8EFE7;
    border-radius: 10px;
    box-shadow: 0px 6px 0px #908072;
}

#guide-image {
    padding: 23px 12px;
}

.avatar {
    width: 180px;
    border-radius: 10px;
}

#guide-text {
    padding: 50px 11px;
}

.italic {
    font-style: italic;
}

#footer {
    padding: 2px 0;
    background: #211D18;
    color: #F8EFE7;
    border-top: 4px solid #F1E4D8;
}

#footer-text {
    font-size: 14px;
}

